@model IEnumerable<Veterinaria.Web.Models.Consult>

@{
    ViewBag.Title = "Index";
}

    <body style="background-image:url(../../Content/img/Interface/Paw_Wallpaper.jpg)">
        <div class="container">
            <div class="py-3"></div>
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <div>
                        <h2>CONSULTAS</h2>
                        <a href="@Url.Action("Create","Consults")" class="btn btn-success">Anexar Consulta</a>
                    </div>
                </div>
                <div class="card-body text-center">
                    <table class="table">
                        <tr class="text-white bg-info">
                            <th>
                                @Html.DisplayNameFor(model => model.ConsultDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ConsultType)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConsultDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConsultType)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Consults", new { id = item.Id })" class="btn btn-dark">Editar</a>
                                    <a href="@Url.Action("Details","Consults", new { id = item.Id })" class="btn btn-warning">Detalles</a>
                                    <a href="@Url.Action("Delete","Consults", new { id = item.Id })" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </body>
