@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Details";
}

    <body style="background-image:url(../../Content/img/Interface/Paw_Wallpaper.jpg)">
        <header>
            <div class="container col-8">
                <div class="py-3"></div>
                <div class="card">
                    <div class="card-header bg-dark text-white text-center">
                        <h2>Detalles</h2>
                    </div>
                    <div class="py-2"></div>
                    <div class="px-2">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PetType)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PetType)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Age)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Age)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BirthDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Color)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Color)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Raza)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Raza)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Weight)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Weight)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Height)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Height)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            <a href="@Url.Action("Edit","Pets", new { id = Model.Id })" class="btn btn-info">Editar</a>
                            <a href="@Url.Action("Index","Pets")" class="btn btn-dark">Regresar</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="py-2"></div>
        </header>
    </body>


